<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<link rel="icon" type="image/x-icon" href="#" />
<link type="text/css" rel="styleSheet" href="/css/themes/mainlogin.css" />
<!--    <link rel="stylesheet" type="text/css" href="/css/themes/logindemo.css">-->
<script type="text/javascript" src="/js/jquery.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>账号登录</title>

</head>


<body>
	<div id="bg">
		<div id="hint">
			<!-- 提示框 -->
			<p>登录失败</p>
		</div>
		<div id="login_wrap">
			<div id="login">
				<!-- 登录注册切换动画 -->
				<div id="status">
					<i style="top: 0">Log</i> <i style="top: 35px">Sign</i> <i
						style="right: 5px">in</i>
				</div>
				<span>
					<form action="post" id="loginform">
						<p class="form">
							<input name="username" type="text" id="user" placeholder="username">
						</p>
						<p class="form">
							<input name="userpass" type="password" id="passwd" placeholder="password">
						</p>
						<p class="form confirm">
							<input type="password" id="confirm-passwd" placeholder="confirm password">
						</p>
						<input type="button" value="Log in" id="loginbtn" class="btn"
							onclick="login()" style="margin-right: 20px;"> 
						<input
							type="button" value="Sign in" class="btn" onclick='signin()' id="btn">
						<div class="col-sm-offset-2 col-sm-10">
							<span id="span1"></span>
						</div>
					</form> <a href="#">Forget your password?</a>
				</span>
			</div>

		</div>
	</div>
</body>
<script>
//获取注册表单内容

//onoff =true 是表示登录状态
    var onoff = true//根据此布尔值判断当前为注册状态还是登录状态
    
    var confirm = document.getElementsByClassName("confirm")[0]
    var user = document.getElementById("user")
    var passwd = document.getElementById("passwd")
    var con_pass = document.getElementById("confirm-passwd")
    
    //自动居中title
   /* var name_c = document.getElementById("title")
    name = name_c.innerHTML.split("")
    name_c.innerHTML = ""
    for (i = 0; i < name.length; i++)
        if (name[i] != ",")
            name_c.innerHTML += "<i>" + name[i] + "</i>"
    //引用hint()在最上方弹出提示
    function hint() {
        let hit = document.getElementById("hint")
        hit.style.display = "block"
        setTimeout("hit.style.opacity = 1", 0)
        setTimeout("hit.style.opacity = 0", 2000)
        setTimeout('hit.style.display = "none"', 3000)
    }*/
    //回调函数
/*function submit(callback) {
        if (passwd.value == con_pass.value) {
        	
        	//两次密码无误 存入数据库，异步保存
        let request = new XMLHttpRequest()
        let url = ""
        request.open("post", url, true)
        let data = new FormData()
        data.append("user", user.value)
        data.append("passwd", passwd.value)
        request.onreadystatechange = function() {
            if (this.readyState == 4) {
                callback.call(this, this.response)
                //console.log(this.responseText)
            }
        }
        request.send(data)
    }*/
    /*else {
               hit.innerHTML = "两次密码不同"
               hitting()
           }
       }*/
    //注册按钮
    function signin() {
    	   //let 与var 功能相似  但是 let只能在局部中使用（当前大括号）
        let status = document.getElementById("status").getElementsByTagName("i")
        let hit = document.getElementById("hint").getElementsByTagName("p")[0]
        if (onoff) {
            confirm.style.height = 51 + "px"
            status[0].style.top = 35 + "px"
            status[1].style.top = 0
            onoff = !onoff
            
            var user = document.getElementById("user")
            var passwd = document.getElementById("passwd")
            var con_pass = document.getElementById("confirm-passwd")
           
            
        } else {
           /* if (!/^[A-Za-z0-9]+$/.test(user.value))
                hit.innerHTML = "账号只能为英文和数字"
            else if (user.value.length < 6)
                hit.innerHTML = "账号长度必须大于6位"
            else if (passwd.value.length < 6)
                hit.innerHTML = "密码长度必须大于6位"
            else if (passwd.value != con_pass.value)
                hit.innerHTML = "两次密码不相等"
            else if (passwd.value = con_pass.value) {
                submit(function(res) {
                    if (res == "exist")
                        hit.innerHTML = "该账号已存在"
                    else if (res == true) {
                        hit.innerHTML = "账号注册成功，两秒后自动刷新页面"
                        setTimeout("window.location.reload()", 2000)
                    } else if (res == false)
                        hit.innerHTML = "账号注册失败"
                })
            }*/
            hint()
        }
    };
   

	function login() {
		// 获取用户输入
		var params = $("#loginform").serialize();
		alert(params);
		// 提交数据给后台
		$.post("/User/login", params, function(rt) {
			// 获取后台返回的结果，进行相应的处理
			if (rt.status == "success") {
				location.href = "/views/GD/index.html";
			} else {
				alert(rt.msg);
			}
		}, "json");
	};

    //登录按钮
  /*  function login() {
    	 
        if (onoff) {

        			//获取表单中的数据
        			/*var d = {} ;
        			var data = $("#loginform").serializeArray();
        		   	$.each(data, function () {
        		   		
        	                d[this.name] = this.value;
        	            });
        	            alert(JSON.stringify(d));*
        	            var username = $("#user").val();
        	            var password = $("#passwd").val();
        	            $.post(
        	            		"/User/login",
        	            		"user="+username+"&passwd="+password,
        	            		
        	            		function(data){
        	            			if(data!=""){
        	            				location.href=""
        	            			}else{
        	            				$("#span1").html('<font color=\'red\'>账户名或密码错误！</font>');
        	            			}
        	            		}
        	            		)
        	/*
            let request = new XMLHttpRequest()
            let url = ""
            request.op
            en("post", url, true)
            let data = new FormData()
            data.append("user", user.value)
            data.append("passwd", passwd.value)
            request.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.responseText == false)
                        hint()
                    else
                        window.location.href = this.responseText;
                }
            }
            request.send(data)*
        } else {
            let status = document.getElementById("status").getElementsByTagName("i")
            confirm.style.height = 0
            status[0].style.top = 0
            status[1].style.top = 35 + "px"
            onoff = !onoff
        }
    }
*/

</script>

</html>